<table id="overview">
  <tr><th>Primary\Secondary</th><td>Art</td><td>Barb</td><td>Bard</td><td>Cle</td><td>Dru</td><td>Figh</td><td>Monk</td><td>Pal</td><td>Rang</td><td>Rog</td><td>Sorc</td><td>Warl</td><td>Wiz</td></tr>
  <tr><td>Artificer</td><td></td><td>1</td><td>2</td><td>3</td><td>1</td><td>4</td><td>1</td><td>3</td><td>2</td><td>4</td><td>2</td><td>1</td><td>4</td></tr>
  <tr><td>Barbarian</td><td>1</td><td></td><td>2</td><td>3</td><td>3</td><td>5</td><td>3</td><td>4</td><td>3</td><td>4</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>Bard</td><td>2</td><td>1</td><td></td><td>4</td><td>1</td><td>3</td><td>1</td><td>4</td><td>2</td><td>3</td><td>4</td><td>5</td><td>1</td></tr>
  <tr><td>Cleric</td><td>2</td><td>1</td><td>1</td><td></td><td>2</td><td>4</td><td>3</td><td>2</td><td>2</td><td>3</td><td>1</td><td>2</td><td>2</td></tr>
  <tr><td>Druid</td><td>1</td><td>4</td><td>1</td><td>4</td><td></td><td>3</td><td>3</td><td>4</td><td>4</td><td>2</td><td>2</td><td>1</td><td>1</td></tr>
  <tr><td>Fighter</td><td>3</td><td>5</td><td>3</td><td>5</td><td>1</td><td></td><td>2</td><td>4</td><td>4</td><td>4</td><td>2</td><td>1</td><td>4</td></tr>
  <tr><td>Monk</td><td>1</td><td>3</td><td>1</td><td>5</td><td>4</td><td>4</td><td></td><td>1</td><td>5</td><td>5</td><td>2</td><td>2</td><td>2</td></tr>
  <tr><td>Paladin</td><td>2</td><td>4</td><td>5</td><td>3</td><td>2</td><td>4</td><td>1</td><td></td><td>1</td><td>3</td><td>5</td><td>4</td><td>1</td></tr>
  <tr><td>Ranger</td><td>2</td><td>3</td><td>1</td><td>3</td><td>3</td><td>5</td><td>4</td><td>1</td><td></td><td>5</td><td>2</td><td>1</td><td>1</td></tr>
  <tr><td>Rogue</td><td>4</td><td>3</td><td>4</td><td>4</td><td>5</td><td>5</td><td>4</td><td>3</td><td>5</td><td></td><td>3</td><td>2</td><td>4</td></tr>
  <tr><td>Sorcerer</td><td>2</td><td>1</td><td>3</td><td>3</td><td>1</td><td>3</td><td>1</td><td>5</td><td>1</td><td>3</td><td></td><td>5</td><td>2</td></tr>
  <tr><td>Warlock</td><td>2</td><td>3</td><td>3</td><td>2</td><td>1</td><td>4</td><td>2</td><td>5</td><td>3</td><td>3</td><td>5</td><td></td><td>2</td></tr>
  <tr><td>Wizard</td><td>4</td><td>1</td><td>2</td><td>4</td><td>1</td><td>4</td><td>1</td><td>2</td><td>1</td><td>3</td><td>3</td><td>1</td><td></td></tr>
</table>
